In [1]:
import pandas as pd
import numpy as np
import torch
from torch.utils.data import Dataset, DataLoader
from torch import nn
import torch.nn.functional as F
from sklearn.preprocessing import LabelEncoder

In [3]:
import pandas as pd
import numpy as np

# Create synthetic product data
product_base = pd.DataFrame([
    {
        'product_id': 101,
        'category': 'Electronics',
        'price': 299.99,
        'brand': 'BrandA',
        'rating': 4.5,
        'num_reviews': 150,
        'features': 'Color:Black;Size:Medium',
        'availability': 'In Stock',
        'release_date': '2020-01-15'
    },
    {
        'product_id': 102,
        'category': 'Electronics',
        'price': 199.99,
        'brand': 'BrandB',
        'rating': 4.0,
        'num_reviews': 85,
        'features': 'Color:Silver;Size:Small',
        'availability': 'Out of Stock',
        'release_date': '2019-11-20'
    },
    {
        'product_id': 103,
        'category': 'Home Appliances',
        'price': 99.99,
        'brand': 'BrandC',
        'rating': 3.8,
        'num_reviews': 40,
        'features': 'Color:White;Power:1500W',
        'availability': 'In Stock',
        'release_date': '2021-05-10'
    },
    {
        'product_id': 104,
        'category': 'Books',
        'price': 15.99,
        'brand': 'BrandD',
        'rating': 4.7,
        'num_reviews': 200,
        'features': 'Genre:Fiction;Pages:350',
        'availability': 'In Stock',
        'release_date': '2018-08-05'
    },
    {
        'product_id': 105,
        'category': 'Fashion',
        'price': 49.99,
        'brand': 'BrandE',
        'rating': 4.2,
        'num_reviews': 60,
        'features': 'Color:Red;Size:L',
        'availability': 'In Stock',
        'release_date': '2020-12-25'
    },
    {
        'product_id': 106,
        'category': 'Electronics',
        'price': 399.99,
        'brand': 'BrandA',
        'rating': 4.8,
        'num_reviews': 220,
        'features': 'Color:Black;Size:Large',
        'availability': 'In Stock',
        'release_date': '2019-03-30'
    },
    {
        'product_id': 107,
        'category': 'Sports',
        'price': 89.99,
        'brand': 'BrandF',
        'rating': 4.0,
        'num_reviews': 75,
        'features': 'Type:Outdoor;Size:Standard',
        'availability': 'Out of Stock',
        'release_date': '2021-06-15'
    },
    {
        'product_id': 108,
        'category': 'Home Appliances',
        'price': 129.99,
        'brand': 'BrandC',
        'rating': 3.9,
        'num_reviews': 50,
        'features': 'Color:Silver;Power:2000W',
        'availability': 'In Stock',
        'release_date': '2020-10-22'
    },
    {
        'product_id': 109,
        'category': 'Books',
        'price': 9.99,
        'brand': 'BrandG',
        'rating': 4.1,
        'num_reviews': 120,
        'features': 'Genre:Non-fiction;Pages:250',
        'availability': 'In Stock',
        'release_date': '2017-12-01'
    },
    {
        'product_id': 110,
        'category': 'Fashion',
        'price': 29.99,
        'brand': 'BrandH',
        'rating': 3.5,
        'num_reviews': 30,
        'features': 'Color:Blue;Size:M',
        'availability': 'In Stock',
        'release_date': '2021-02-14'
    }
])

# Display the synthetic product data
product_base.to_csv('product_base.csv')

In [4]:
import pandas as pd

# Create synthetic purchase data
purchase_data = pd.DataFrame([
    {
        'customer_idx': 1001,
        'list_purch_product': [101, 103, 105],
        'list_purch_month_number': [1, 3, 5],
        'list_purch_txn_count': [2, 1, 1]
    },
    {
        'customer_idx': 1002,
        'list_purch_product': [102, 104],
        'list_purch_month_number': [2, 4],
        'list_purch_txn_count': [1, 2]
    },
    {
        'customer_idx': 1003,
        'list_purch_product': [103, 103, 109],
        'list_purch_month_number': [1, 2, 3],
        'list_purch_txn_count': [1, 1, 1]
    },
    {
        'customer_idx': 1004,
        'list_purch_product': [108, 107],
        'list_purch_month_number': [5, 6],
        'list_purch_txn_count': [3, 1]
    },
    {
        'customer_idx': 1005,
        'list_purch_product': [101, 107, 103],
        'list_purch_month_number': [1, 8, 12],
        'list_purch_txn_count': [1, 1, 1]
    },
     {
        'customer_idx': 1006,
        'list_purch_product': [110],
        'list_purch_month_number': [9],
        'list_purch_txn_count': [3]
    }
])

# Display the synthetic purchase data
purchase_data.to_csv('purchase_data.csv')

In [5]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random

# Create synthetic customer data
customer_base = pd.DataFrame([
    {
        'customer_id': 1001,
        'age': 28,
        'gender': 'Female',
        'location': 'New York',
        'join_date': '2019-06-15',
        'loyalty_score': 75,
        'preferred_categories': ['Electronics', 'Books'],
        'average_purchase_value': 150.75,
        'total_purchases': 25,
        'last_purchase_date': '2021-08-10'
    },
    {
        'customer_id': 1002,
        'age': 35,
        'gender': 'Male',
        'location': 'Los Angeles',
        'join_date': '2018-03-22',
        'loyalty_score': 60,
        'preferred_categories': ['Fashion', 'Sports'],
        'average_purchase_value': 85.50,
        'total_purchases': 40,
        'last_purchase_date': '2021-09-05'
    },
    {
        'customer_id': 1003,
        'age': 42,
        'gender': 'Female',
        'location': 'Chicago',
        'join_date': '2020-11-08',
        'loyalty_score': 50,
        'preferred_categories': ['Home Appliances'],
        'average_purchase_value': 200.00,
        'total_purchases': 15,
        'last_purchase_date': '2021-07-20'
    },
    {
        'customer_id': 1004,
        'age': 23,
        'gender': 'Male',
        'location': 'Houston',
        'join_date': '2021-02-14',
        'loyalty_score': 80,
        'preferred_categories': ['Electronics', 'Sports'],
        'average_purchase_value': 120.30,
        'total_purchases': 10,
        'last_purchase_date': '2021-08-25'
    },
    {
        'customer_id': 1005,
        'age': 30,
        'gender': 'Female',
        'location': 'Phoenix',
        'join_date': '2017-07-30',
        'loyalty_score': 90,
        'preferred_categories': ['Books', 'Fashion'],
        'average_purchase_value': 75.00,
        'total_purchases': 60,
        'last_purchase_date': '2021-09-15'
    },
    {
        'customer_id': 1006,
        'age': 37,
        'gender': 'Male',
        'location': 'Philadelphia',
        'join_date': '2019-12-05',
        'loyalty_score': 65,
        'preferred_categories': ['Automotive', 'Electronics'],
        'average_purchase_value': 220.50,
        'total_purchases': 35,
        'last_purchase_date': '2021-08-18'
    }
])

# Display the synthetic customer data
customer_base.to_csv('customer_base.csv')

In [11]:
#Load the data
customer_base = pd.read_csv('customer_base.csv')
product_base = pd.read_csv('product_base.csv')
purchase_data = pd.read_csv('purchase_data.csv')

In [17]:
purchase_data

,Unnamed: 0,customer_idx,list_purch_product,list_purch_month_number,list_purch_txn_count
0,0,1001,"[101, 103, 105]","[1, 3, 5]","[2, 1, 1]"
1,1,1002,"[102, 104]","[2, 4]","[1, 2]"
2,2,1003,"[103, 103, 109]","[1, 2, 3]","[1, 1, 1]"
3,3,1004,"[108, 107]","[5, 6]","[3, 1]"
4,4,1005,"[101, 107, 103]","[1, 8, 12]","[1, 1, 1]"
5,5,1006,[110],[9],[3]

In [12]:
customer_base

,Unnamed: 0,customer_id,age,gender,location,join_date,loyalty_score,preferred_categories,average_purchase_value,total_purchases,last_purchase_date
0,0,1001,28,Female,New York,2019-06-15,75,"['Electronics', 'Books']",150.75,25,2021-08-10
1,1,1002,35,Male,Los Angeles,2018-03-22,60,"['Fashion', 'Sports']",85.50,40,2021-09-05
2,2,1003,42,Female,Chicago,2020-11-08,50,['Home Appliances'],200.00,15,2021-07-20
3,3,1004,23,Male,Houston,2021-02-14,80,"['Electronics', 'Sports']",120.30,10,2021-08-25
4,4,1005,30,Female,Phoenix,2017-07-30,90,"['Books', 'Fashion']",75.00,60,2021-09-15
5,5,1006,37,Male,Philadelphia,2019-12-05,65,"['Automotive', 'Electronics']",220.50,35,2021-08-18

# Encode Customer and Product IDs

In [14]:

# Encode customer and product IDs
customer_encoder = LabelEncoder()
customer_base['customer_id'] = customer_encoder.fit_transform(customer_base['customer_id'])

product_encoder = LabelEncoder()
product_base['product_id'] = product_encoder.fit_transform(product_base['product_id'])

In [15]:
product_base

,Unnamed: 0,product_id,category,price,brand,rating,num_reviews,features,availability,release_date
0,0,0,Electronics,299.99,BrandA,4.5,150,Color:Black;Size:Medium,In Stock,2020-01-15
1,1,1,Electronics,199.99,BrandB,4.0,85,Color:Silver;Size:Small,Out of Stock,2019-11-20
2,2,2,Home Appliances,99.99,BrandC,3.8,40,Color:White;Power:1500W,In Stock,2021-05-10
3,3,3,Books,15.99,BrandD,4.7,200,Genre:Fiction;Pages:350,In Stock,2018-08-05
4,4,4,Fashion,49.99,BrandE,4.2,60,Color:Red;Size:L,In Stock,2020-12-25
5,5,5,Electronics,399.99,BrandA,4.8,220,Color:Black;Size:Large,In Stock,2019-03-30
6,6,6,Sports,89.99,BrandF,4.0,75,Type:Outdoor;Size:Standard,Out of Stock,2021-06-15
7,7,7,Home Appliances,129.99,BrandC,3.9,50,Color:Silver;Power:2000W,In Stock,2020-10-22
8,8,8,Books,9.99,BrandG,4.1,120,Genre:Non-fiction;Pages:250,In Stock,2017-12-01
9,9,9,Fashion,29.99,BrandH,3.5,30,Color:Blue;Size:M,In Stock,2021-02-14

# Prepare Sequences

In [18]:
# Merge purchase data with customer and product data
purchase_data['customer_idx'] = customer_encoder.transform(purchase_data['customer_idx'])
purchase_data['list_purch_product'] = purchase_data['list_purch_product'].apply(lambda x: [int(i) for i in x.strip('[]').split(',')])

# Create sequences
sequences = []
for idx, row in purchase_data.iterrows():
    customer_id = row['customer_idx']
    product_sequence = row['list_purch_product']
    for i in range(1, len(product_sequence)):
        seq = product_sequence[:i]
        target = product_sequence[i]
        sequences.append((customer_id, seq, target))

In [20]:
purchase_data

,Unnamed: 0,customer_idx,list_purch_product,list_purch_month_number,list_purch_txn_count
0,0,0,"[101, 103, 105]","[1, 3, 5]","[2, 1, 1]"
1,1,1,"[102, 104]","[2, 4]","[1, 2]"
2,2,2,"[103, 103, 109]","[1, 2, 3]","[1, 1, 1]"
3,3,3,"[108, 107]","[5, 6]","[3, 1]"
4,4,4,"[101, 107, 103]","[1, 8, 12]","[1, 1, 1]"
5,5,5,[110],[9],[3]

In [19]:
sequences

[(0, [101], 103),
 (0, [101, 103], 105),
 (1, [102], 104),
 (2, [103], 103),
 (2, [103, 103], 109),
 (3, [108], 107),
 (4, [101], 107),
 (4, [101, 107], 103)]

# Pad Sequences

In [21]:
from torch.nn.utils.rnn import pad_sequence

def pad_sequences(sequences, max_len, padding_value=0):
    return [seq + [padding_value]*(max_len - len(seq)) if len(seq) < max_len else seq[:max_len] for seq in sequences]

# Create Dataset and DataLoader

In [22]:
class RecommendationDataset(Dataset):
    def __init__(self, sequences, customer_features, product_features, max_seq_len):
        self.sequences = sequences
        self.customer_features = customer_features
        self.product_features = product_features
        self.max_seq_len = max_seq_len

    def __len__(self):
        return len(self.sequences)
    
    def __getitem__(self, idx):
        customer_id, seq, target = self.sequences[idx]

        # Pad sequences
        seq_padded = seq + [0] * (self.max_seq_len - len(seq)) if len(seq) < self.max_seq_len else seq[:self.max_seq_len]
        
        # Get features
        customer_features = self.customer_features[customer_id]
        product_features = self.product_features[target]

        return {
            'customer_features': customer_features,
            'product_features': product_features,
            'sequence': seq_padded,
            'target': target
        }

# Prepare Features

In [23]:
# Convert features to numpy arrays for quick access
customer_features = customer_base.set_index('customer_id').values
product_features = product_base.set_index('product_id').values

# Map indices to features
customer_features = {idx: feats for idx, feats in enumerate(customer_features)}
product_features = {idx: feats for idx, feats in enumerate(product_features)}

# Split Data

In [26]:
from sklearn.model_selection import train_test_split

train_sequences, test_sequences = train_test_split(sequences, test_size=0.2, random_state=42)

# Create DataLoader

In [27]:
max_seq_len = 10

train_dataset = RecommendationDataset(train_sequences, customer_features, product_features, max_seq_len)
test_dataset = RecommendationDataset(test_sequences, customer_features, product_features, max_seq_len)

In [28]:
train_dataloader = DataLoader(train_dataset, batch_size=32, shuffle=True)
test_dataloader = DataLoader(test_dataset, batch_size=32, shuffle=False)

# Building the transformer model

In [29]:
class TransformerRecommendationModel(nn.Module):
    def __init__(self, customer_feat_size, product_feat_size, num_products, embed_dim, nhead, num_layers):
        super(TransformerRecommendationModel, self).__init__()
        
        self.product_embedding = nn.Embedding(num_products, embed_dim)
        self.positional_encoding = nn.Parameter(torch.zeros(1, max_seq_len, embed_dim))
        
        self.transformer_encoder_layer = nn.TransformerEncoderLayer(d_model=embed_dim, nhead=nhead)
        self.transformer_encoder = nn.TransformerEncoder(self.transformer_encoder_layer, num_layers=num_layers)
        
        self.customer_fc = nn.Linear(customer_feat_size, embed_dim)
        self.product_fc = nn.Linear(product_feat_size, embed_dim)
        
        self.output_layer = nn.Linear(embed_dim, num_products)
        
    def forward(self, customer_feat, product_feats, sequence):
        # Embed products in the sequence
        product_embeddings = self.product_embedding(sequence)  # Shape: [batch_size, seq_len, embed_dim]
        
        # Add positional encoding
        product_embeddings += self.positional_encoding[:, :product_embeddings.size(1), :]
        
        # Transform product features
        product_feat_embeds = self.product_fc(product_feats)  # Shape: [batch_size, seq_len, embed_dim]
        
        # Combine embeddings
        embeddings = product_embeddings + product_feat_embeds
        
        # Permute for transformer input
        embeddings = embeddings.permute(1, 0, 2)  # Shape: [seq_len, batch_size, embed_dim]
        
        # Pass through transformer
        transformer_output = self.transformer_encoder(embeddings)  # Shape: [seq_len, batch_size, embed_dim]
        
        # Get the last output
        last_output = transformer_output[-1]  # Shape: [batch_size, embed_dim]
        
        # Transform customer features
        customer_embed = self.customer_fc(customer_feat)  # Shape: [batch_size, embed_dim]
        
        # Combine last output with customer features
        combined = last_output + customer_embed
        
        # Output layer
        output = self.output_layer(combined)  # Shape: [batch_size, num_products]
        
        return output